.App-footer {
    /* min-height: 5vh; */
    border-top: 3px #19a5eb solid;
    width: 100%;
    font-style: italic;
    bottom: 0;
    position: absolute;
    left: 0;
}

.App-footer p {
    text-align: center;
    font-style: arial bold;
}
  